<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sign in to your account</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body class="webswing-element">
	<div data-id="commonDialogBackDrop" class="ws-modal-container">
		<div data-id="commonDialog dialogModal" class="ws-modal">
			<div data-id="content" class="ws-modal-content">
				<div class="ws-header">
					<h2 class="ws-title">Single Sign-On authentication failed</h2>
				</div>
				<div class="ws-modal-content">
					<p>Error message:<pre>{{message}}</pre></p>
					<button type="button" onClick=" window.location.href=window.location.href;" class="ws-btn">Try again</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
