<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sign in to your account</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="../css/style.css" />
</head>

<body class="webswing-element">
	<div data-id="commonDialog" class="ws-modal-container">
		<div class="ws-login">
			<div data-id="content" class="ws-login-content">
				{{>logoutPartial.html}}
			</div>
		</div>
	</div>
</body>

</html>