<form id="webswingLginForm" accept-charset="UTF-8" role="form" class="ws-login-form">
	<div data-id="header" class="ws-login-header">
		<h1 class="ws-login-title">Sign in to your account</h1>
	</div>

	<p class="ws-login-instructions">Please enter your credentials:</p>
	<input id="nameInput" type="text" class="ws-form-field ws-form-addon" placeholder="Username" name="username" required autofocus autocomplete="off">
	<i class="ws-form-icon ws-form-icon--username" aria-hidden="true"></i>

	<input id="passwordInput" type="password" class="ws-form-field ws-form-addon" placeholder="Password" name="password" required autocomplete="off">
	<i class="ws-form-icon ws-form-icon--password" aria-hidden="true"></i>

	<div id="loginErrorMsg">
		{{#errorMessage}}
		<div class="ws-login-message ws-login-message--error">
			{{errorMessage}}
		</div>
		{{/errorMessage}}
	</div>

	<button type="submit" form="webswingLginForm" value="Submit" class="ws-btn-submit">Sign in</button>
</form>